TASK - 1 :- Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

In [1]:
import pandas as pd
import numpy as np
np.random.seed(42)
data=np.random.rand(4, 4) #generating numpy random values
data[data < 0.3] = np.nan #introducing null values in the generated data
df=pd.DataFrame(data, columns=['Feature1', 'Feature2', 'Feature3', 'Feature4']) #creating a dataframe using the generated data containing null values
print(df)

   Feature1  Feature2  Feature3  Feature4
0  0.374540  0.950714  0.731994  0.598658
1       NaN       NaN       NaN  0.866176
2  0.601115  0.708073       NaN  0.969910
3  0.832443       NaN       NaN       NaN

TASK - 2 :- Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

In [2]:
new_col_names={'Feature1': 'Random value 1','Feature2': 'Random value 2','Feature3': 'Random value 3','Feature4': 'Random value 4'}
df.rename(columns=new_col_names,inplace=True)  #renaming the columns of the dataframe df, previously created, using the rename() function
print(df)

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.374540        0.950714        0.731994        0.598658
1             NaN             NaN             NaN        0.866176
2        0.601115        0.708073             NaN        0.969910
3        0.832443             NaN             NaN             NaN

TASK - 3 :- Find the descriptive statistics of the 'df' dataframe.

In [3]:
desc_stat=df.describe()
print(desc_stat)

       Random value 1  Random value 2  Random value 3  Random value 4
count        3.000000        2.000000        1.000000        3.000000
mean         0.602699        0.829393        0.731994        0.811581
std          0.228955        0.171574             NaN        0.191552
min          0.374540        0.708073        0.731994        0.598658
25%          0.487828        0.768733        0.731994        0.732417
50%          0.601115        0.829393        0.731994        0.866176
75%          0.716779        0.890054        0.731994        0.918043
max          0.832443        0.950714        0.731994        0.969910

TASK - 4 :- Check for the null values in 'df' and find the data type of the columns

In [4]:

null_values=df.isnull().any() #checking for null values
print(null_values)
data_types=df.dtypes  #finding data type of the columns
print(data_types)

Random value 1    True
Random value 2    True
Random value 3    True
Random value 4    True
dtype: bool
Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

TASK - 5 :- Display the 'Random value 2' & 'Random value 3' columns with location method and index location method

In [5]:
#using location method (.loc[])
location=df.loc[:,['Random value 2','Random value 3']]  #giving the names of the columns to be displayed
print(location)
#using index location method (.iloc[])
index_location= df.iloc[:,[1, 2]]  # giving the positions of the columns to be displayed
print(index_location)

   Random value 2  Random value 3
0        0.950714        0.731994
1             NaN             NaN
2        0.708073             NaN
3             NaN             NaN
   Random value 2  Random value 3
0        0.950714        0.731994
1             NaN             NaN
2        0.708073             NaN
3             NaN             NaN